.restartGame {
  border: none;
  background: none;
  color: #c8b8ac;
  font-size: min(35px, 8vw);
  display: flex;
  align-items: center;
  justify-content: center;
}
.restartGame:hover {
  color: #e8ddd5;
}
