.grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(min(20vw, 130px), 1fr));
  grid-template-rows: repeat(4, minmax(min(20vw, 130px), 1fr));
  grid-gap: var(--gap-s);
  padding: var(--gap-s);
  background: #3b3329;
  border-radius: var(--gap-s);
  --cell-size: min(20vw, 130px);
}
.cell {
  background: #4d4438;
  border-radius: var(--gap-s);
}
