.game {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: max-content 1fr;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  background-color: #1c1813;
}

.game,
.game * {
  user-select: none !important;
}

@supports (min-height: 100svh) {
  .game {
    min-height: 100svh;
  }
}
