.gameMenu {
  color: #c8b8ac;
  background-color: #2c251d;
  border-radius: min(3vw, 16px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  font-size: min(45px, 10vw);
  padding: var(--gap-s);
  box-sizing: border-box;
  margin-top: min(3vw, 16px);
}
